<%- include("partials/header") -%> 
        <h1>You are on LANDING Page.</h1>
        <p>Welcome to YelpCamp</p>

        <p>Wanna check Campgrounds >> <a href="/campgrounds">Click here</a></p>
<%- include("partials/footer") -%> 